// <-- ---- Bismillah ---- -->

header {
  width: 100%;
  position: fixed;
  top: 0;

  .nav {
    height: 60px;
    display: flex;
    align-items: center;

    &__logo {
      font-size: 24px;
      text-decoration: none;
    }

    &__list {
      display: flex;

      &--item {
        list-style-type: none;

        &-link {
          text-decoration: none;
          text-transform: uppercase;
          // background-color: red;
          display: flex;
          align-items: center;
          width: 100%;

          &:hover {
            color: silver;
          }
        }
      }
    }
  }

  .header_texts {
    margin-top: 20%;
  }

  .header_text1 {
    font-weight: 700;
    font-size: 49px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #ffff;
  }

  .header_text2 {
    font-weight: 700;
    font-size: 49px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #ffff;
  }

  .header_btn {
    padding: 300px;
    right: 90px;
  }
}
